/* Document */
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

/* Header */
header {
  background: #3B5998;
  padding: 15px;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

header .fas {
  color: #fff;
  font-size: 16px;
}

header .logo-area {
  color: #fff;
  display: inline-block;
  width: 20%;
  margin-left: -4px;
}

header .logo-area a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

header .menu {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  text-align: right;
  padding-right: 20px;
}

header .menu ul li {
  display: inline-block;
}

header .menu ul li {
  margin-right: 20px;
}

header .icon-links {
  display: inline-block;
  width: 20%;
  margin-left: -4px;
  padding-left: 20px;
}

header .icon-links ul li {
  display: inline-block;
  margin-right: 10px;
}

header .icon-links .quick-options {
  display: inline-block;
  padding-left: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 20px;
}

header .icon-links .privacy {
  display: inline-block;
  padding-left: 20px;
}

header .search-area {
  display: inline-block;
  width: 40%;
  margin-left: -4px;
  text-align: right;
}

header .search-area ul li {
  display: inline-block;
}

/* Top Area */
#top-area {
  padding: 200px 15px 90px 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1541600593739-1d4c5177aae2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
}

#top-area .profile-info .user-img {
  padding: 10px;
  display: inline-block;

}

#top-area .profile-info .user-img img {
  border-radius: 50%;
}

#top-area .profile-info .user-details {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin-left: 15px;
}

#top-area .profile-info .user-details h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 10px;
}

#top-area .profile-info .user-details a {
  display: inline-block;
  margin-left: -4px;
  margin-right: 5%;
  width: 45%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  padding: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  transition: background .3s ease-in-out;
}

#top-area .profile-info .user-details a:hover {
  background: #2196F3;
}

/* Content Area */
#content-area {
  background: #FAFAFA;
  overflow: auto;
  padding: 50px 0;
}

#content-area .side-column {
  float: left;
  width: 35%;
  margin: 0 2.5%;
  max-width: 380px;
}

#content-area .main-area {
  float: left;
  width: 35%;
  margin: 0 2.5%;
}

#content-area .widget-box {
  padding: 15px;
  background: #fff;
  margin: 0 0 15px 0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
  box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
  overflow: auto;
}

/* #content-area .widget-box .head {
  margin-bottom: 10px;
} */

#content-area .widget-box .body {
  padding: 15px 0;
}

#content-area .widget-box .head .widget-icon {
  background: #BFBFBF;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content-area .widget-box .head .widget-icon-container {
  display: inline-block;
}

#content-area .widget-box .head .widget-title {
  display: inline-block;
  padding: 0 0 0 5px;
}

#content-area .widget-box .head .widget-icon .fas {
  font-size: 20px;
  max-width: 50%;
}


#content-area .side-column .widget-box .body .Img {
  display: inline-block;
  float: left;
  height: 110px;
  background: no-repeat center center;
  background-size: cover;
  min-width: 33.33%;
}

#content-area .side-column .widget-box .body{
  margin: 0 0 10px 0;
}
