* {
 box-sizing: border-box;
}

.fas {
 color: #fff;
}

html {
 font-family: sans-serif;
}

a {
 text-decoration: none;
 color: #2196F3;
}



/* header */
header {
 background: #3B5998;
 padding: 15px;
}

header a {
 color: #fff;
 text-decoration: none;
 font-size: 14px;
 font-weight: 300;
}

header .logo-area {
 color: #fff;
 display: inline-block;
 width: 20%;
 margin-left: -4px;
}

header .logo-area a {
 color: #fff;
 text-decoration: none;
 font-size: 20px;
}

header .menu {
 display: inline-block;
 width: 20%;
 margin-left: -4px;
 border-right: 1px solid rgba(255, 255, 255, .3);
 text-align: right;
 padding-right: 20px;
}

header .menu a {
 margin-right: 20px;
}

header .menu ul li {
 display: inline-block;
}

header .icon-links {
 display: inline-block;
 width: 20%;
 margin-left: -4px;
}

header .icon-links ul li {
 display: inline-block;
 margin-right: 10px;
}

header .icon-links .quick-options {
 display: inline-block;
 padding-left: 20px;
 border-right: 1px solid rgba(255, 255, 255, .3);
 padding-right: 20px;
}

header .icon-links .privacy {
 display: inline-block;
 /* margin-left: -4px; */
 padding-left: 20px;
}

header .search-area {
 display: inline-block;
 width: 40%;
 margin-left: -4px;
 text-align: right;
}

header .search-area ul li {
 display: inline-block;
}

/* top area */
#top-area {
 padding: 200px 15px 90px 15px;
 background: url("https://wallpapershome.com/images/pages/ico_h/12771.jpg");
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}

#top-area .profile-info .user-img {
 padding: 10px;
 display: inline-block;
}

#top-area .profile-info .user-img img {
 border-radius: 50%;
 height: 150px;
 width: 150px;
}

#top-area .profile-info .user-details {
 display: inline-block;
 vertical-align: top;
 padding-left: 20px;
}

#top-area .profile-info .user-details h3 {
 color: #fff;
 font-size: 24px;
 font-weight: 300;
 margin-top: 50px;
 margin-bottom: 10px;
}

#top-area .profile-info .user-details a {
 display: inline-block;
 background: rgba(255, 255, 255, .3);
 margin-left: -3px;
 margin-right: 5%;
 width: 45%;
 text-align: center;
 text-transform: uppercase;
 color: #fff;
 font-size: 10px;
 padding: 10px;
 border-radius: 2px;
 transition: all .4s ease-in-out;
}

#top-area .profile-info .user-details a:hover {
 background: #2196F3;
}

/* side column */
#content-area {
 background: #FAFAFA;
 overflow: auto;
 padding: 50px 0;
}

#content-area .side-column {
 float: left;
 width: 35%;
 margin: 0 2.5%;
 max-width: 380px;
}

#content-area .widget-box {
 padding: 15px;
 background: #fff;
 border-radius: 3px;
 -webkit-box-shadow: 0px 2px 5px -1px rgba(138,138,138,1);
 -moz-box-shadow: 0px 2px 5px -1px rgba(138,138,138,1);
 box-shadow: 0px 2px 5px -1px rgba(138,138,138,1);
 margin: 0 0 15px 0;
 overflow: auto;
}

#content-area .widget-box .head .widget-icon-container {
 display: inline-block;
}

#content-area .widget-box .head .widget-icon {
 background: #BFBFBF;
 height: 40px;
 width: 40px;
 border-radius: 50%;
 color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
}

#content-area .widget-box .head .widget-icon .fas {
 max-width: 50%;
 font-size: 20px;
}

#content-area .widget-box .head .arrow-icon {
 display: inline-block;
}

#content-area .widget-box .head .arrow-icon .end{
 width: 235px;
 display: flex;
 justify-content: flex-end;
}

#content-area .widget-box .head .arrow-icon .end .fa-sort-down {
 color: #BFBFBF;
 font-size: 20px;
 cursor: pointer;
}

#content-area .widget-box .head .widget-title {
 display: inline-block;
 padding: 0 0 0 5px;
}

#content-area .widget-box .body {
 padding: 15px 0;
}

/* main area */
#content-area .main-area {
 float: left;
 width: 55%;
 margin: 0 2.5%;
}

#content-area .main-area .submenu {
 margin: 0 0 20px 0;
 padding: 0;
}

#content-area .main-area .submenu ul li {
 display: inline-block;
 padding: 10px;
 width: 20%;
 float: left;
 text-align: center;
 border-bottom: 3px solid #fff;
 transition: all .4s ease-in-out;
}

#content-area .main-area .submenu ul li:nth-child(5) {
 padding: 20px 0 22px;
}

#content-area .main-area .submenu ul li:hover {
 border-bottom: 3px solid #2196F3;
 cursor: pointer;
 color: #2196F3;
}

#content-area .main-area .submenu ul li .fas {
 color: #000;
 font-size: 20px;
 transition: all .4s ease-in-out;
}

#content-area .main-area .submenu ul li:hover .fas {
 color: #2196F3;
}

#content-area .main-area .submenu ul li span {
 display: block;
 margin: 10px 0 0 0;
 text-transform: uppercase;
 font-size: 12px;
}

/* post box */
#content-area .main-area .widget-box.post {
 /* overflow: auto; */
}

#content-area .main-area .widget-box.post .head .user-img {
 display: inline-block;
 float: left;
 background: url("https://makehimyours.com.au/wp-content/uploads/2016/11/Depositphotos_9830876_l-2015Optimised.jpg");
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 height: 40px;
 width: 40px;
 border-radius: 50%;
 margin: 0 10px 0 0;
}

#content-area .main-area .widget-box.post .head .post-info {
 display: inline-block;
 /* float: left; */
 width: 80%;
}

#content-area .main-area .widget-box.post .head .post-info .user-info{
 display: block;
 font-size: 14px;
 margin: 4px 0 5px 0;
}

#content-area .main-area .widget-box.post .head .post-info .post-date{
 display: block;
 font-size: 12px;
 color: #ABABAB;
}